body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 400px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.board {
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}